<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <link rel="stylesheet" href="index.css" />
    {{ for style in stylesheets }} {{ style | object.eval_template }} {{end}}
    <script src="https://unpkg.com/turbolinks@5.2.0/dist/turbolinks.js"></script>
  </head>
  <body>
    {{ header | object.eval_template }}
    <main class="app-main">{{ main | object.eval_template }}</main>
    {{ footer | object.eval_template }}
    <script src="https://unpkg.com/htmx.org@1.0.2/dist/htmx.min.js"></script>
    <script src="index.js" type="module"></script>
    {{ for script in scripts }} {{ script | object.eval_template }} {{end}}
  </body>
</html>
