<form hx-post="{{
    if is_login
        '/auth/login'
    else
        '/auth/signup'
    end
}}" hx-target="body" class="box">

    {{ if !is_login }}
    <section class="field">
        <label for="name" class="label">Name</label>
        <input type="text" class="input" name="name" id="name" />
    </section>
    {{end}}
    <section class="field">
        <label for="email" class="label">Email</label>
        <input type="email" class="input" name="email" id="email" />
    </section>
    <section class="field">
        <label for="password" class="label">Password</label>
        <input type="password" class="input" name="password" id="password" />
    </section>
    <section class="columns mt-1">
        <div class="column">
            <button class="button is-link" 
                hx-get="{{
                    if is_login
                        '/auth/signup'
                    else
                        ''
                    end
                }}"
                hx-target="body">
                {{ if is_login }}
                    Sign up
                {{ else }}
                    Sign in
                {{ end }}
            </button>
        </div>
        <div class="column">
            <button class="button is-primary" type="submit">
                {{ if is_login }}
                    Sign in
                {{ else }}
                    Sign up
                {{ end }}
            </button>
        </div>
    </section>
</form>