<form id="editform">
    <section class="field">
        <label for="name" class="label">Name</label>
        <div class="control">
            <input type="text" name="name" id="name" class="input" vale="Sample" required/>
        </div>
    </section>
    <section class="field">
        <label for="email" class="label">Email</label>
        <div class="control">
            <input type="email" name="email" id="email" class="input" placeholder="email@domian.com" required />
        </div>
    </section>
</form>